<h1 mat-dialog-title>
  {{ title }}
</h1>
<mat-divider></mat-divider>
<div mat-dialog-content style="height: 90%;">
  <div class="modal-body">
    <div [hidden]="isDocumentLoadingSpinnerHidden">
      <br /><br />
      <mat-spinner style="margin: auto;"></mat-spinner>
      <br /><br />
    </div>
    <div [hidden]="isDocumentContentHidden">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label form-group-label">Document</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Document..." [disabled]="!crmAdmin"
                [(ngModel)]="documentModel.DocumentName">
            </div>
            <br /><br />
            <label for="" class="col-sm-2 col-form-label form-group-label">Document Type</label>
            <div class="col-sm-10">
              <select [(ngModel)]="documentModel.DocumentType" class="form-control" [disabled]="!crmAdmin">
                <option *ngFor="let docType of cboDocumentTypesObservable" value="{{docType.docType}}">
                  {{ docType.docType }}
                </option>
              </select>
              <!-- <wj-combo-box #cboDocType [(ngModel)]="documentModel.DocumentType"
                [itemsSource]="cboDocumentTypesObservable" [isEditable]="false" [isRequired]="true"
                [displayMemberPath]="'docType'" [selectedValuePath]="'docType'"
                (selectedIndexChanged)="cboDocumentTypeSelectedIndexChanged(cboDocType.selectedValue)"
                style="width: 40%; padding: 3px;">
              </wj-combo-box> -->
            </div>
            <br /><br />
            <label for="" class="col-sm-2 col-form-label form-group-label">Document URL</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Document url..."
                [(ngModel)]="documentModel.DocumentURL" [disabled]="!crmAdmin">
            </div>
            <br /><br />
            <label for="" class="col-sm-2 col-form-label form-group-label">Date Uploaded</label>
            <div class="col-sm-10">
              <wj-input-date #cboDateUploadedDate format="MMMM dd, yyyy" [(ngModel)]="documentModel.DateUploaded" [disabled]="!crmAdmin"
                style="width: 40%; padding: 3px;">
              </wj-input-date >
            </div>
            <br /><br />
            <label for="" class="col-sm-2 col-form-label form-group-label">Particulars</label>
            <div class="col-sm-10">
              <textarea type="text" class="form-control" placeholder="Particulars..." [disabled]="!crmAdmin"
                [(ngModel)]="documentModel.Particulars" rows="5">
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="documentVideoFrame" *ngIf="showVideoDocument" class="col-sm-12" style="height:50vh;">

  </div>
  <div id="documentFrame"  *ngIf="showDocument"  class="col-sm-12" style="height:720px">
    <ngx-doc-viewer name="printDoc" [url]="docUrl" viewer="url" class="col-sm-12" style="height:720px;">
    </ngx-doc-viewer>
  </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions align="right">
  <button mat-flat-button color="primary" align-self="right" style="margin-right: 5px;" (click)="btnSaveDocumentClick()" *ngIf="crmAdmin"
    id="btnSave">
    <i class="fa fa-save fa-fw"></i>
    Save
  </button>
  <button mat-flat-button color="primary" align-self="right" style="margin-right: 5px;" (click)="viewDocumentUrl()"
    id="btnSave">
    <i class="fa fa-file fa-fw"></i>
    View
  </button>
  <button mat-flat-button color="warn" slot="end" (click)="btnCloseDocumentDialog()" id="btnCloseDialog">
    <i class="fa fa-close fa-fw"></i>Close
  </button>
</div>