<div [hidden]="isLoadingSpinnerHidden">
  <mat-spinner style="margin: auto;"></mat-spinner>
</div>
<div [hidden]="isContentHidden">
  <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-top: 10px; margin-bottom: 10px;">
    <li class="nav-item">
      <a class="nav-link active" id="sales-tab" data-toggle="tab" href="#support" role="tab" aria-controls="support"
        aria-selected="true">Support Detail</a>
    </li>
    <li class="nav-item" [hidden]="isActivityTabHidden">
      <a class="nav-link" id="activities-tab" data-toggle="tab" href="#activities" role="tab" aria-controls="activities"
        aria-selected="false" (click)="listActivity()">Activities</a>
    </li>
  </ul>
</div>
<div class="tab-content" id="myTabContent" [hidden]="isContentHidden">
  <div class="tab-pane fade show active" id="support" role="tabpanel" aria-labelledby="support-tab">
    <div class="card card-default">
      <div class="card-header">
        <table border="0" style="width: 100%; border: none;">
          <tr>
            <td style="text-align: right;">
              <button class="btn btn-primary" (click)="btnSaveSupportClick()" style="margin-right: 5px;"
                id="btnSaveSupport" disabled>
                <i class="fa fa-save fa-fw"></i> Save
              </button>
              <button class="btn btn-primary" (click)="btnLockSupportClick()" style="margin-right: 5px;"
                id="btnLockSupport" disabled>
                <i class="fa fa-lock fa-fw"></i> Lock
              </button>
              <button class="btn btn-primary" (click)="btnUnlockSupportClick()" style="margin-right: 5px;"
                id="btnUnlockSupport" disabled>
                <i class="fa fa-unlock fa-fw"></i> Unlock
              </button>
              <button class="btn btn-primary" (click)="btnPrintSupport()" style="margin-right: 5px;" id="btnPrint">
                <i class="fa fa-print fa-fw"></i> Print
              </button>
              <button class="btn btn-danger" routerLink="/software/trn/support" id="btnCloseSupport">
                <i class="fa fa-close fa-fw"></i> Close
              </button>
            </td>
          </tr>
        </table>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group row">
              <label for="" class="col-sm-4 col-form-label form-group-label">SP No.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="supportModel.SPNumber" placeholder="SP Number..."
                  disabled>
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">SP Date</label>
              <div class="col-sm-8">
                <wj-input-date #cboSPDate [disabled]="isLocked" [(ngModel)]="supportModel.SPDate" format="MMMM dd, yyyy"
                  style="width: 100%; padding: 3px;">
                </wj-input-date>
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">Customer</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="text" [(ngModel)]="selectedCustomer" class="form-control" aria-label=""
                    [disabled]="isLocked">
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="btnCustomerListClick(customerModalTemplate)"><i
                        class="fa fa-plus"></i></span>
                  </div>
                </div>
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">SD Number</label>
              <div class="col-sm-8">
                <wj-combo-box #cboSalesInvoice [(ngModel)]="supportModel.SDId"
                  [itemsSource]="cboSalesDeliveryObservable" [isEditable]="false" [isRequired]="true"
                  [displayMemberPath]="'SDNumber'" [selectedValuePath]="'Id'" style="width: 100%; padding: 3px;"
                  [disabled]="isLocked" (selectedIndexChanged)="cboSalesInvoice_SelectedIndexChange(cboSalesInvoice)">
                </wj-combo-box>
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">Contact Person</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" [disabled]="isLocked" [(ngModel)]="supportModel.ContactPerson"
                  placeholder="Contact Person...">
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">Contact Position</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" [disabled]="isLocked" [(ngModel)]="supportModel.ContactPosition"
                  placeholder="Contact Position...">
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">Contact Email</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" [disabled]="isLocked" [(ngModel)]="supportModel.ContactEmail"
                  placeholder="Contact Email...">
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">Contact Phone No.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" [disabled]="isLocked"
                  [(ngModel)]="supportModel.ContactPhoneNumber" placeholder="Contact Phone Number...">
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group row">
              <label for="" class="col-sm-4 col-form-label form-group-label">Issue</label>
              <div class="col-sm-8">
                <textarea type="text" class="form-control" style="resize: none" [disabled]="isLocked"
                  [(ngModel)]="supportModel.Issue" placeholder="Remarks..." rows="10">
                  </textarea>
              </div>
              <br /><br />
              <br /><br /><br /><br /><br /><br /><br /><br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">Assigned To</label>
              <div class="col-sm-8">
                <wj-combo-box #cboAssignedToUser [(ngModel)]="supportModel.AssignedToUserId"
                  [itemsSource]="cboAssignedToUserObservable" [isEditable]="false" [isRequired]="true"
                  [displayMemberPath]="'FullName'" [selectedValuePath]="'Id'" style="width: 100%; padding: 3px;"
                  [disabled]="isLocked">
                </wj-combo-box>
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">Status</label>
              <div class="col-sm-8">
                <wj-combo-box #cboSalesStatus [disabled]="isLocked" [(ngModel)]="supportModel.Status"
                  [itemsSource]="cboSupportStatusObservable" [isEditable]="false" [isRequired]="true"
                  [displayMemberPath]="'Status'" [selectedValuePath]="'Status'" style="width: 100%; padding: 3px;">
                </wj-combo-box>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-default" style="margin-top: 10px;">
      <div class="card-header">
        User stamp
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p>Created by:</p>
            <div style="padding-left: 10px;">
              <i class="fa fa-key"></i>&nbsp;
              <label id="createdBy">
                {{
                  supportModel != null ?
                  supportModel.CreatedByUser : 'NA'
                  }}
              </label>
              <br />
              <small>
                <i class="fa fa-calendar"></i>&nbsp;&nbsp;
                <span id="createdDate">
                  {{
                    supportModel != null ?
                    supportModel.CreatedDateTime : 'mm/dd/yyyy'
                    }}
                </span>
              </small>
            </div>
            <br />
          </div>
          <div class="col-md-6">
            <p>Updated by:</p>
            <div style="padding-left: 10px;">
              <i class="fa fa-key"></i>&nbsp;
              <label id="updatedBy">
                {{
                  supportModel != null ?
                  supportModel.UpdatedByUser : 'NA'
                  }}
              </label>
              <br />
              <small>
                <i class="fa fa-calendar"></i>&nbsp;&nbsp;
                <span id="updatedDate">
                  {{
                    supportModel != null ?
                    supportModel.UpdatedDateTime : 'mm/dd/yyyy'
                    }}
                </span>
              </small>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="activities" role="tabpanel" aria-labelledby="activities-tab"
    [hidden]="isActivityTabHidden">
    <div class="card card-default">
      <div class="card-header">
        <table border="0" style="width: 100%; border: none;">
          <tr>
            <td>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <b>
                      <i class="fa fa-table"></i>
                    </b>
                  </div>
                </div>
                <wj-combo-box #cboNumberOfRows [itemsSource]="cboShowNumberOfRows" [isEditable]="false"
                  [isRequired]="true" [displayMemberPath]="'rowString'" [selectedValuePath]="'rowNumber'"
                  (selectedIndexChanged)="cboShowNumberOfRowsOnSelectedIndexChanged(cboNumberOfRows.selectedValue)"
                  style="width: 140px;">
                </wj-combo-box>
              </div>
            </td>
            <td style="text-align: right;">
              <button class="btn btn-primary" (click)="btnAddActivityClick(activityModalTemplate)"
                style="margin-right: 5px;" id="btnAddActivity">
                <i class="fa fa-plus fa-fw"></i> Add
              </button>
              <button class="btn btn-danger" routerLink="/software/trn/support" id="btnCloseActivity">
                <i class="fa fa-close fa-fw"></i> Close
              </button>
            </td>
          </tr>
        </table>
      </div>

      <div class="card-body">
        <mat-progress-bar [hidden]="isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'">
        </mat-progress-bar>
        <wj-flex-grid #listActivityFlexGrid [itemsSource]="listActivityCollectionView" [selectionMode]="3"
          [frozenColumns]="2">
          <wj-flex-grid-filter></wj-flex-grid-filter>
          <wj-flex-grid-column [header]="Edit" [isReadOnly]="true" [width]="80">
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
              <button type="button" class="btn btn-primary btn-block btn-xs"
                (click)="btnEditActivityClick(activityModalTemplate)" id="btnEditActivity">
                <i class="fa fa-edit fa-fw"></i> Edit
              </button>
            </ng-template>
          </wj-flex-grid-column>
          <wj-flex-grid-column [header]="Delete" [isReadOnly]="true" [width]="90">
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
              <button type="button" class="btn btn-danger btn-block btn-xs"
                (click)="btnDeleteActivityClick(activityDeleteModalTemplate)" id="btnDeleteActivity">
                <i class="fa fa-trash fa-fw"></i> Delete
              </button>
            </ng-template>
          </wj-flex-grid-column>
          <wj-flex-grid-column [header]="'No.'" [binding]="'ACNumber'" [isReadOnly]="true" [width]="110">
          </wj-flex-grid-column>
          <wj-flex-grid-column [header]="'Date'" [binding]="'ACDate'" [isReadOnly]="true" [width]="110">
          </wj-flex-grid-column>
          <wj-flex-grid-column [header]="'Functional'" [binding]="'FunctionalUser'" [isReadOnly]="true" [width]="'2*'">
          </wj-flex-grid-column>
          <wj-flex-grid-column [header]="'Technical'" [binding]="'TechnicalUser'" [isReadOnly]="true" [width]="'2*'">
          </wj-flex-grid-column>
          <wj-flex-grid-column [header]="'SP Status'" [binding]="'CRMStatus'" [isReadOnly]="true" [width]="'2*'">
          </wj-flex-grid-column>
          <wj-flex-grid-column [header]="'Activity'" [binding]="'Activity'" [isReadOnly]="true" [width]="'3*'">
          </wj-flex-grid-column>
          <wj-flex-grid-column [header]="'StartDate'" [binding]="'StartDate'" [isReadOnly]="true" [width]="'1*'">
          </wj-flex-grid-column>
          <wj-flex-grid-column [header]="'EndDate'" [binding]="'EndDate'" [isReadOnly]="true" [width]="'1*'">
          </wj-flex-grid-column>
          <wj-flex-grid-column [header]="'Status'" [binding]="'Status'" [isReadOnly]="true" [width]="'2*'">
          </wj-flex-grid-column>
        </wj-flex-grid>
      </div>
      <div class="card-footer">
        <div class="col-sm-4 btn-group" style="padding: 5px 0px 5px 0px;">
          <button type="button" class="btn btn-secondary" (click)="listActivityCollectionView.moveToFirstPage()">
            <i class="fa fa-fast-backward"></i>
          </button>
          <button type="button" class="btn btn-secondary" (click)="listActivityCollectionView.moveToPreviousPage()">
            <i class="fa fa-step-backward"></i>
          </button>
          <button type="button" class="btn btn-secondary" disabled style="width:100px">
            {{ listActivityCollectionView.pageIndex + 1 }} / {{ listActivityCollectionView.pageCount }}
          </button>
          <button type="button" class="btn btn-secondary" (click)="listActivityCollectionView.moveToNextPage()">
            <i class="fa fa-step-forward"></i>
          </button>
          <button type="button" class="btn btn-secondary" (click)="listActivityCollectionView.moveToLastPage()">
            <i class="fa fa-fast-forward"></i>
          </button>
        </div>
        <div class="col-sm-8"></div>

      </div>
    </div>
  </div>

  <ng-template #activityModalTemplate>
    <div class="modal-header">
      <h4 class="modal-title">
        {{ activityModalHeaderTitle }}
      </h4>
    </div>
    <div class="modal-body">
      <div [hidden]="isActivityLoadingSpinnerHidden">
        <br /><br />
        <mat-spinner style="margin: auto;"></mat-spinner>
        <br /><br />
      </div>
      <div [hidden]="isActivityContentHidden">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group row">
              <label for="" class="col-sm-4 col-form-label form-group-label">Support No.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Support No..."
                  [(ngModel)]="supportDetailActivityModel.SPNumber" disabled>
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">SP Date</label>
              <div class="col-sm-8">
                <wj-input-date #cboActivityDate format="MMMM dd, yyyy" [(ngModel)]="supportDetailActivityModel.SPDate"
                  disabled style="width: 100%; padding: 3px;">
                </wj-input-date>
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">SP Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="CRM Status..."
                  [(ngModel)]="supportDetailActivityModel.SPName" disabled>
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">SP Status</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="CRM Status..."
                  [(ngModel)]="supportDetailActivityModel.CRMStatus" disabled>
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">Functional</label>
              <div class="col-sm-8">
                <wj-combo-box #cboActivityFunctionalUser [(ngModel)]="supportDetailActivityModel.FunctionalUserId"
                  [itemsSource]="cboListActivityUsersObservableArray" [isEditable]="false" [isRequired]="false"
                  [displayMemberPath]="'FullName'" [selectedValuePath]="'Id'" style="width: 100%; padding: 3px;">
                </wj-combo-box>
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">Technical</label>
              <div class="col-sm-8">
                <wj-combo-box #cboActivityTechnicalUser [(ngModel)]="supportDetailActivityModel.TechnicalUserId"
                  [itemsSource]="cboListActivityUsersObservableArray" [isEditable]="false" [isRequired]="false"
                  [displayMemberPath]="'FullName'" [selectedValuePath]="'Id'" style="width: 100%; padding: 3px;">
                </wj-combo-box>
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">Start</label>
              <div class="col-sm-8">
                <table style="width: 100%;">
                  <tr>
                    <td style="width: 60%">
                      <wj-input-date #cboActivityStartDate [(ngModel)]="supportDetailActivityModel.StartDate"
                        format="MMMM dd, yyyy"></wj-input-date>
                    </td>
                    <td style="width: 1%"></td>
                    <td style="width: 39%">
                      <wj-input-time #cboActivityStartTime [(ngModel)]="supportDetailActivityModel.StartTime"
                        format="h:mm tt" [step]="1"></wj-input-time>
                    </td>
                  </tr>
                </table>
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">End</label>
              <div class="col-sm-8">
                <table style="width: 100%;">
                  <tr>
                    <td style="width: 60%">
                      <wj-input-date #cboActivityEndDate [(ngModel)]="supportDetailActivityModel.EndDate"
                        format="MMMM dd, yyyy"></wj-input-date>
                    </td>
                    <td style="width: 1%"></td>
                    <td style="width: 39%">
                      <wj-input-time #cboActivityEndTime [(ngModel)]="supportDetailActivityModel.EndTime"
                        format="h:mm tt" [step]="1"></wj-input-time>
                    </td>
                  </tr>
                </table>
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">Status</label>
              <div class="col-sm-8">
                <wj-combo-box #cboActivityStatus [(ngModel)]="supportDetailActivityModel.Status"
                  [itemsSource]="cboListActivityStatusObservableArray" [isEditable]="false" [isRequired]="true"
                  [displayMemberPath]="'Status'" [selectedValuePath]="'Status'" style="width: 100%; padding: 3px;">
                </wj-combo-box>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group row">
              <label for="" class="col-sm-4 col-form-label form-group-label">Activity No.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Number..."
                  [(ngModel)]="supportDetailActivityModel.ACNumber" disabled>
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">Activity</label>
              <div class="col-sm-8">
                <textarea [(ngModel)]="supportDetailActivityModel.Activity" type="text" class="form-control"
                  style="resize: vertical" placeholder="Activity..." rows="7"></textarea>
              </div>
              <br /><br /><br /><br /><br /><br /><br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">Transportation
                Fee</label>
              <div class="col-sm-8">
                <wj-input-number [(ngModel)]="supportDetailActivityModel.TransportationCost" #numActivityTranspoCost
                  style="width: 100%; padding: 3px;" (textChanged)="transportationCostTextChanged()"></wj-input-number>
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">On-Site Fee</label>
              <div class="col-sm-8">
                <wj-input-number [(ngModel)]="supportDetailActivityModel.OnSiteCost" #numActivityOnsiteCost
                  style="width: 100%; padding: 3px;" (textChanged)="transportationCostTextChanged()"></wj-input-number>
              </div>
              <br /><br />
              <label for="" class="col-sm-4 col-form-label form-group-label">Total</label>
              <div class="col-sm-8">
                <wj-input-number [(ngModel)]="totalCost" disabled style="width: 100%; padding: 3px;" #numTotalCost>
                </wj-input-number>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button [hidden]="isActivityContentHidden" type="button" class="btn btn-primary" style="margin-right: 5px;"
        (click)="btnPrintSupportActivity()" id="btnPrintctivity">
        <i class="fa fa-save"></i> Print
      </button>
      <button [hidden]="isActivityContentHidden" type="button" class="btn btn-primary" style="margin-right: 5px;"
        (click)="btnSaveActivityClick()" id="btnSaveActivity">
        <i class="fa fa-save"></i> Save
      </button>
      <button type="button" class="btn btn-danger" (click)="activitiyModalRef.hide()"
        id="btnSaveActivityClickCloseModal">
        <i class="fa fa-close"></i> Cancel
      </button>
    </div>
  </ng-template>

  <ng-template #activityDeleteModalTemplate>
    <div class="modal-header" style="background-color: white;">
      <h4 class="modal-title" style="color: black">
        Delete
      </h4>
    </div>
    <div class="modal-body">
      Do you want to delete activity {{
        listActivityCollectionView.items.length > 0 ?
        listActivityCollectionView.currentItem.ACNumber : 'NA'
        }}?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" style="margin-right: 5px;" (click)="btnConfirmDeleteAcitivityClick()"
        id="btnConfirmDeleteAcitivity">
        <i class="fa fa-trash"></i> Delete
      </button>
      <button type="button" class="btn btn-light" (click)="deleteActivitiyModalRef.hide()"
        id="btnCloseConfirmDeleteAcitivityModal">
        <i class="fa fa-close"></i> Cancel
      </button>
    </div>
  </ng-template>
</div>

<ng-template #customerModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title">
      {{ activityModalHeaderTitle }}
    </h4>
  </div>
  <div class="modal-body">
    <mat-progress-bar [hidden]="isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'"></mat-progress-bar>
    <wj-flex-grid #listCustomerFlexGrid [itemsSource]="listCustomerCollectionView" [selectionMode]="3"
      [frozenColumns]="2">
      <wj-flex-grid-filter></wj-flex-grid-filter>
      <wj-flex-grid-column *ngIf="false" [header]="'Id'" [binding]="'Id'" [isReadOnly]="true" [width]="'1*'">
      </wj-flex-grid-column>
      <wj-flex-grid-column [header]="'Code'" [binding]="'ArticleCode'" [isReadOnly]="true" [width]="'1*'">
      </wj-flex-grid-column>
      <wj-flex-grid-column [header]="'Customer'" [binding]="'Article'" [isReadOnly]="true" [width]="'2*'">
      </wj-flex-grid-column>
      <wj-flex-grid-column [header]="'Contact Person'" [binding]="'ContactPerson'" [isReadOnly]="true" [width]="'2*'">
      </wj-flex-grid-column>
      <wj-flex-grid-column [header]="Pick" [isReadOnly]="true" [width]="80">
        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
          <button type="button" class="btn btn-primary btn-block btn-xs" (click)="btnPickCustomerClick()"
            id="btnPickCustomer">
            <i class="fa fa-edit fa-fw"></i> Pick
          </button>
        </ng-template>
      </wj-flex-grid-column>
    </wj-flex-grid>
  </div>
  <!-- <div class="modal-footer"> -->
  <div class="card-footer">
    <table>
      <tr>
        <td>
          <div class="col-sm-12 btn-group" style="padding: 5px 0px 5px 0px;">
            <button type="button" class="btn btn-secondary" (click)="listCustomerCollectionView.moveToFirstPage()">
              <i class="fa fa-fast-backward"></i>
            </button>
            <button type="button" class="btn btn-secondary" (click)="listCustomerCollectionView.moveToPreviousPage()">
              <i class="fa fa-step-backward"></i>
            </button>
            <button type="button" class="btn btn-secondary" disabled style="width:100px">
              {{ listCustomerCollectionView.pageIndex + 1 }} / {{ listCustomerCollectionView.pageCount }}
            </button>
            <button type="button" class="btn btn-secondary" (click)="listCustomerCollectionView.moveToNextPage()">
              <i class="fa fa-step-forward"></i>
            </button>
            <button type="button" class="btn btn-secondary" (click)="listCustomerCollectionView.moveToLastPage()">
              <i class="fa fa-fast-forward"></i>
            </button>
          </div>
        </td>
        <td style="padding-left: 147%;">
          <button type="button" class="btn btn-danger float-right" (click)="customerModalRef.hide()"
            style="width: 90px !important;" id="btnCustomerClickCloseModal">
            <i class="fa fa-close"></i> Cancel
          </button>
        </td>
      </tr>
    </table>
  </div>
</ng-template>