<div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <button type="button" class="btn btn-light btn-block" routerLink="/software/trn/lead">
          <br />
          <img src="../../../assets/img/icons/leads.png" height="100" alt="">
          <br />
          <br />
          <h5>
            Leads
          </h5>
          <br />
        </button>
        <br />
      </div>
      <div class="col-lg-3">
        <button type="button" class="btn btn-light btn-block" routerLink="/software/trn/sales">
          <br />
          <img src="../../../assets/img/icons/sales.png" height="100" alt="">
          <br />
          <br />
          <h5>
            Sales
          </h5>
          <br />
        </button>
        <br />
      </div>
      <div class="col-lg-3">
        
      </div>
      <div class="col-lg-3">
        
      </div>
    </div>
  </div>