<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <button type="button" class="btn btn-light btn-block" routerLink="/software/trn/lead" *ngIf="crmLead">
        <br />
        <img src="../../../assets/img/icons/leads.png" height="100" alt="">
        <br />
        <br />
        <h5>
          Leads
        </h5>
        <br />
      </button>
      <br />
    </div>
    <div class="col-lg-3">
      <button type="button" class="btn btn-light btn-block" routerLink="/software/trn/sales" *ngIf="crmSalesDelivery">
        <br />
        <img src="../../../assets/img/icons/delivery.png" height="100" alt="">
        <br />
        <br />
        <h5>
          Sales Delivery
        </h5>
        <br />
      </button>
      <br />
    </div>
    <div class="col-lg-3">
      <button type="button" class="btn btn-light btn-block" routerLink="/software/trn/support" *ngIf="crmSupport">
        <br />
        <img src="../../../assets/img/icons/support.png" height="100" alt="">
        <br />
        <br />
        <h5>
          Support
        </h5>
        <br />
      </button>
      <br />
    </div>
    <div class="col-lg-3">
      <button type="button" class="btn btn-light btn-block" routerLink="/software/trn/activity" *ngIf="crmActivity">
        <br />
        <img src="../../../assets/img/icons/activity.png" height="100" alt="">
        <br />
        <br />
        <h5>
          Activity
        </h5>
        <br />
      </button>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <button type="button" class="btn btn-light btn-block" routerLink="/software/report" *ngIf="crmReport">
        <br />
        <img src="../../../assets/img/icons/report.png" height="100" alt="">
        <br />
        <br />
        <h5>
          Report
        </h5>
        <br />
      </button>
      <br />
    </div>
    <div class="col-lg-3">
      <button type="button" class="btn btn-light btn-block" routerLink="/software/setup/product" *ngIf="crmAdmin">
        <br />
        <img src="../../../assets/img/icons/product.png" height="100" alt="">
        <br />
        <br />
        <h5>
          Product
        </h5>
        <br />
      </button>
      <br />
    </div>
    <div class="col-lg-3">
      <button type="button" class="btn btn-light btn-block" routerLink="/software/setup/status" *ngIf="crmAdmin">
        <br />
        <img src="../../../assets/img/icons/status.png" height="100" alt="">
        <br />
        <br />
        <h5>
          Status
        </h5>
        <br />
      </button>
      <br />
    </div>
    <div class="col-lg-3">
      <button type="button" class="btn btn-light btn-block" routerLink="/software/setup/user" *ngIf="crmAdmin">
        <br />
        <img src="../../../assets/img/icons/woman.png" height="100" alt="">
        <br />
        <br />
        <h5>
          User
        </h5>
        <br />
      </button>
      <br />
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <table border="0" style="width: 100%; border: none; margin-top: -15px;">
        <tr>
          <td>
            <div class="form-group">
              <span class="badge badge-info" style="margin-bottom: 5px;"><i class="fa fa-calendar fa-fw"></i>
                Start Date</span>
              <wj-input-date #cboLeadStartDateFilter [(ngModel)]="leadStartDateFilterData"
                [ngModelOptions]="{standalone: true}" (textChanged)="cboStartDateTextChanged()"
                format="MMMM dd, yyyy" style="width: 100%;">
              </wj-input-date>
            </div>
          </td>
          <td>
            <div class="form-group">
              <span class="badge badge-info" style="margin-bottom: 5px;"><i class="fa fa-calendar fa-fw"></i>
                End Date</span>
              <wj-input-date #cboLeadEndDateFilter [(ngModel)]="leadEndDateFilterData"
                [ngModelOptions]="{standalone: true}" (textChanged)="cboEndDateTextChanged()" format="MMMM dd, yyyy"
                style="width: 100%;">
              </wj-input-date>
            </div>
          </td>
          <td>
            <div class="form-group">
              <span class="badge badge-info" style="margin-bottom: 5px;"><i class="fa fa-question-circle fa-fw"></i>
                User</span>
              <wj-combo-box #cboUser [itemsSource]="cboUserObservableArray" [isEditable]="false"
                [isRequired]="true" [displayMemberPath]="'FullName'" [selectedValuePath]="'Id'"
                (selectedIndexChanged)="cboUserSelectedIndexChanged(cboUser.selectedValue)"
                style="width: 100%;">
              </wj-combo-box>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6"></div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-default" style="margin-top: 10px;">
        <div class="card-header">
          Lead
        </div>
        <div class="card-body">
          <table width="100%">
            <tr *ngFor="let lead of listLeadSummaryObservableArray">
              <td width="70%">{{lead.Status}}</td>
              <td width="30%" align="right"><a (click)="goToLeadList(lead)" style="color:blue;cursor: pointer;">{{lead.NoOfTransaction}}</a></td>
            </tr>
          </table>
          
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-default" style="margin-top: 10px;">
        <div class="card-header">
          Sales Delivery
        </div>
        <div class="card-body">
          <table width="100%">
            <tr *ngFor="let salesDelivery of listSalesDeliverySummaryObservableArray">
              <td width="70%">{{salesDelivery.Status}}</td>
              <td width="30%" align="right"><a (click)="goToSalesDeliveryList(salesDelivery)" style="color:blue;cursor: pointer;">{{salesDelivery.NoOfTransaction}}</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-default" style="margin-top: 10px;">
        <div class="card-header">
          Support
        </div>
        <div class="card-body">
          <table width="100%">
            <tr *ngFor="let support of listSupportSummaryObservableArray">
              <td width="70%">{{support.Status}}</td>
              <td width="30%" align="right"><a (click)="goToSupportList(support)" style="color:blue;cursor: pointer;">{{support.NoOfTransaction}}</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>