<h1 mat-dialog-title>
  {{ title }}
</h1>
<mat-divider></mat-divider>
<div mat-dialog-content style="height: 100%;">
  <div class="modal-body">
    <div [hidden]="isDocumentLoadingSpinnerHidden">
      <br /><br />
      <mat-spinner style="margin: auto;"></mat-spinner>
      <br /><br />
    </div>
    <div [hidden]="isDocumentContentHidden">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label form-group-label">Document</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Document..." [disabled]="!isDocumentEditAuthorized"
                (change)="documentOnChange()" [(ngModel)]="documentModel.DocumentName">
            </div>
            <br /><br />
            <label for="" class="col-sm-2 col-form-label form-group-label">Document Type</label>
            <div class="col-sm-10">
              <select [(ngModel)]="documentModel.DocumentType" class="form-control" [disabled]="!isDocumentEditAuthorized"
                (change)="documentOnChange()">
                <option *ngFor="let docType of cboDocumentTypesObservable" value="{{docType.DocumentType}}">
                  {{ docType.DocumentType }}
                </option>
              </select>
            </div>
            <div>

            </div>
            <br *ngIf="isDocumentEditAuthorized" /><br *ngIf="isDocumentEditAuthorized" />
            <label *ngIf="isDocumentEditAuthorized" for="" class="col-sm-2 col-form-label form-group-label">Attachment</label>
            <div class="col-sm-10" *ngIf="isDocumentEditAuthorized">
              <input type="button" color="" [disabled]="isUploadButtonDisable" (click)="btnUploadFile()"
                id="btnUploadFile" value="Upload" style="margin-right: 5px;">
              <input id="inputFileUpload" placeholder="" type="file" style="width: 90%;" [disabled]="isAllowChoseFile"
                (change)="documentFileOnChange()" [(ngModel)]="AttachmentFile" accept="image/*" />
            </div>
            <br />
            <br *ngIf="!isDocumentEditAuthorized" />
            <label for="" class="col-sm-2 col-form-label form-group-label">Document URL</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Document url..."
                [(ngModel)]="documentModel.DocumentURL" [disabled]="!isDocumentEditAuthorized">
            </div>
            <br /><br />
            <label for="" class="col-sm-2 col-form-label form-group-label">Date Uploaded</label>
            <div class="col-sm-10">
              <wj-input-date #cboDateUploadedDate format="MMMM dd, yyyy" [(ngModel)]="documentModel.DateUploaded"
                [disabled]="!isDocumentEditAuthorized" style="width: 40%; padding: 3px;">
              </wj-input-date>
            </div>
            <br /><br />
            <label for="" class="col-sm-2 col-form-label form-group-label">Particulars</label>
            <div class="col-sm-10">
              <textarea type="text" class="form-control" placeholder="Particulars..." [disabled]="!isDocumentEditAuthorized"
                [(ngModel)]="documentModel.Particulars" rows="10">
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="documentVideoFrame" class="documentDiv" *ngIf="showVideoDocument" class="col-sm-12" style="height:50vh;">

  </div>
  <div id="documentFrame" class="documentDiv" *ngIf="showDocument" class="col-sm-12" style="height:720px">
    <ngx-doc-viewer name="printDoc" [url]="docUrl" viewer="url" class="col-sm-12" style="height:720px;">
    </ngx-doc-viewer>
  </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions align="right">
  <button mat-flat-button color="primary" align-self="right" style="margin-right: 5px;" (click)="btnSaveDocumentClick()"
    *ngIf="isDocumentEditAuthorized" id="btnSave">
    <i class="fa fa-save fa-fw"></i>
    Save
  </button>
  <button mat-flat-button color="primary" align-self="right" style="margin-right: 5px;" (click)="viewDocumentUrl()"
    id="btnSave">
    <i class="fa fa-file fa-fw"></i>
    View
  </button>
  <button mat-flat-button color="warn" slot="end" (click)="btnCloseDocumentDialog()" id="btnCloseDialog">
    <i class="fa fa-close fa-fw"></i>Close
  </button>
</div>