.modal-body {
    height: 60%;
}

.mat-dialog-actions {
    justify-content: flex-end;
}

#documentFrame {
    justify-content: center;
}

.select {
    padding: 3px;
}

#documentVideoFrame iframe {
    width: 1000px !important;
    height: 562px !important;
}