<div class="card card-default">

  <div class="card-header">
    <table border="0" style="width: 100%; border: none;">
      <tr>
        <td style="text-align: right;">
          <button class="btn btn-primary" (click)="btnSaveLeadClick()" style="margin-right: 5px;" id="btnSaveLead"
            disabled>
            <i class="fa fa-save fa-fw"></i> Save
          </button>
          <button class="btn btn-primary" (click)="btnLockLeadClick()" style="margin-right: 5px;" id="btnLockLead"
            disabled>
            <i class="fa fa-lock fa-fw"></i> Lock
          </button>
          <button class="btn btn-primary" (click)="btnUnlockLeadClick()" style="margin-right: 5px;" id="btnUnlockLead"
            disabled>
            <i class="fa fa-unlock fa-fw"></i> Unlock
          </button>
          <button class="btn btn-danger" routerLink="/software/trn/lead" id="btnCloseLead">
            <i class="fa fa-close fa-fw"></i> Close
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group row">
          <label for="" class="col-sm-4 col-form-label form-group-label">LD No.</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" [(ngModel)]="leadDetailModel.LDNumber" placeholder="LD Number..."
              disabled>
          </div>
          <br /><br />
          <label for="" class="col-sm-4 col-form-label form-group-label">LD Date</label>
          <div class="col-sm-8">
            <wj-input-date #cboShopOrderDate [disabled]="isLocked" [(ngModel)]="leadDetailModel.LDDate" format="MM-dd-yyyy"
              style="width: 100%; padding: 3px;">
            </wj-input-date>
          </div>
          <br /><br />
          <label for="" class="col-sm-4 col-form-label form-group-label">Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" [disabled]="isLocked" [(ngModel)]="leadDetailModel.Name"
              placeholder="Name...">
          </div>
          <br /><br />
          <label for="" class="col-sm-4 col-form-label form-group-label">Address</label>
          <div class="col-sm-8">
            <textarea type="text" class="form-control" style="resize: none" [disabled]="isLocked" [(ngModel)]="leadDetailModel.Address"
              placeholder="Remarks..." rows="5">
            </textarea>
          </div>
          <br /><br /><br /><br /><br /><br />
          <label for="" class="col-sm-4 col-form-label form-group-label">Contact Person</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" [disabled]="isLocked" [(ngModel)]="leadDetailModel.ContactPerson"
              placeholder="Contact Person...">
          </div>
          <br /><br />
          <label for="" class="col-sm-4 col-form-label form-group-label">Contact Position</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" [disabled]="isLocked" [(ngModel)]="leadDetailModel.ContactPosition"
              placeholder="Contact Position...">
          </div>
          <br /><br />
          <label for="" class="col-sm-4 col-form-label form-group-label">Contact Email</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" [disabled]="isLocked" [(ngModel)]="leadDetailModel.ContactEmail"
              placeholder="Contact Email...">
          </div>
          <br /><br />
          <label for="" class="col-sm-4 col-form-label form-group-label">Contact Phone No.</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" [disabled]="isLocked" [(ngModel)]="leadDetailModel.ContactPhoneNumber"
              placeholder="Contact Phone Number...">
          </div>
          <br /><br />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group row">
          <label for="" class="col-sm-4 col-form-label form-group-label">Remarks</label>
          <div class="col-sm-8">
            <textarea type="text" class="form-control" style="resize: none" [disabled]="isLocked" [(ngModel)]="leadDetailModel.Remarks"
              placeholder="Remarks..." rows="5">
            </textarea>
          </div>
          <br /><br /><br /><br /><br /><br />
          <label for="" class="col-sm-4 col-form-label form-group-label">Referred By</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" [disabled]="isLocked" [(ngModel)]="leadDetailModel.ReferredBy"
              placeholder="Referred By...">
          </div>
          <br /><br />
          <label for="" class="col-sm-4 col-form-label form-group-label">Assigned To:</label>
          <div class="col-sm-8">
            <wj-combo-box #cboLeadAssignedToUser [disabled]="isLocked" [(ngModel)]="leadDetailModel.AssignedToUserId"
              [itemsSource]="cboLeadAssignedToUsersObservableArray" [isEditable]="false" [isRequired]="true"
              [displayMemberPath]="'FullName'" [selectedValuePath]="'Id'" style="width: 100%; padding: 3px;">
            </wj-combo-box>
          </div>
          <br /><br />
          <label for="" class="col-sm-4 col-form-label form-group-label">Status</label>
          <div class="col-sm-8">
            <wj-combo-box #cboLeadStatus [disabled]="isLocked" [(ngModel)]="leadDetailModel.Status" [itemsSource]="cboLeadStatusObservableArray"
              [isEditable]="false" [isRequired]="true" [displayMemberPath]="'Status'" [selectedValuePath]="'Status'"
              style="width: 100%; padding: 3px;">
            </wj-combo-box>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>