<div [hidden]="isLoadingSpinnerHidden">
  <mat-spinner style="margin: auto;"></mat-spinner>
</div>
<div [hidden]="isContentHidden">
  <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-top: 10px; margin-bottom: 10px;">
    <li class="nav-item">
      <a class="nav-link active" id="sales-tab" data-toggle="tab" href="#salesDelivery" role="tab"
        aria-controls="salesDelivery" aria-selected="true">Sales Delivery Detail</a>
    </li>
    <li class="nav-item" [hidden]="isActivityTabHidden">
      <a class="nav-link" id="activities-tab" data-toggle="tab" href="#activities" role="tab" aria-controls="activities"
        aria-selected="false" (click)="listActivity()">Activities</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="salesDelivery" role="tabpanel" aria-labelledby="sales-tab">
      <div class="card card-default">
        <div class="card-header">
          <table border="0" style="width: 100%; border: none;">
            <tr>
              <td style="text-align: right;">
                <button class="btn btn-primary" (click)="btnSaveSalesClick()" style="margin-right: 5px;"
                  id="btnSaveLead" disabled>
                  <i class="fa fa-save fa-fw"></i> Save
                </button>
                <button class="btn btn-primary" (click)="btnLockSalesClick()" style="margin-right: 5px;"
                  id="btnLockLead" disabled>
                  <i class="fa fa-lock fa-fw"></i> Lock
                </button>
                <button class="btn btn-primary" (click)="btnUnlockSalesClick()" style="margin-right: 5px;"
                  id="btnUnlockLead" disabled>
                  <i class="fa fa-unlock fa-fw"></i> Unlock
                </button>
                <button class="btn btn-danger" routerLink="/software/sys/dashboard" id="btnCloseLead">
                  <i class="fa fa-close fa-fw"></i> Close
                </button>
              </td>
            </tr>
          </table>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label for="" class="col-sm-4 col-form-label form-group-label">SD No.</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="salesDeliveryDetailModel.SDNumber"
                    placeholder="SD Number..." disabled>
                </div>
                <br /><br />
                <label for="" class="col-sm-4 col-form-label form-group-label">SD Date</label>
                <div class="col-sm-8">
                  <wj-input-date #cboShopOrderDate [disabled]="isLocked" [(ngModel)]="salesDeliveryDetailModel.SDDate"
                    format="MMMM dd, yyyy" style="width: 100%; padding: 3px;">
                  </wj-input-date>
                </div>
                <br /><br />
                <label for="" class="col-sm-4 col-form-label form-group-label">Renewal Date</label>
                <div class="col-sm-8">
                  <wj-input-date #cboShopOrderDate [disabled]="isLocked"
                    [(ngModel)]="salesDeliveryDetailModel.RenewalDate" format="MMMM dd, yyyy"
                    style="width: 100%; padding: 3px;">
                  </wj-input-date>
                </div>
                <br /><br />
                <label for="" class="col-sm-4 col-form-label form-group-label">Customer</label>
                <div class="col-sm-8">
                  <wj-combo-box #cboCustomer [(ngModel)]="salesDeliveryDetailModel.CustomerId"
                    [itemsSource]="cboCustomerObservableArray" [isEditable]="false" [isRequired]="true"
                    [displayMemberPath]="'Article'" [selectedValuePath]="'Id'"
                    (selectedIndexChanged)="cboCustomerSelectedIndexChanged(cboCustomer.selectedValue)"
                    style="width: 100%; padding: 3px;">
                  </wj-combo-box>
                </div>
                <br /><br />
                <label for="" class="col-sm-4 col-form-label form-group-label">SI Number</label>
                <div class="col-sm-8">
                  <wj-combo-box #cboSalesInvoice [(ngModel)]="salesDeliveryDetailModel.SIId"
                    [itemsSource]="cboSalesInvoiceObservableArray" [isEditable]="false" [isRequired]="true"
                    [displayMemberPath]="'SINumber'" [selectedValuePath]="'Id'" style="width: 100%; padding: 3px;">
                  </wj-combo-box>
                </div>
                <br /><br />
                <label for="" class="col-sm-4 col-form-label form-group-label">Product</label>
                <div class="col-sm-8">
                  <wj-combo-box #cboProduct [(ngModel)]="salesDeliveryDetailModel.ProductId"
                    [itemsSource]="cboProductObservableArray" [isEditable]="false" [isRequired]="true"
                    [displayMemberPath]="'ProductDescription'" [selectedValuePath]="'Id'"
                    style="width: 100%; padding: 3px;">
                  </wj-combo-box>
                </div>
                <br /><br />
                <label for="" class="col-sm-4 col-form-label form-group-label">LD Number</label>
                <div class="col-sm-8">
                  <wj-combo-box #cboLDNumber [(ngModel)]="salesDeliveryDetailModel.LDId"
                    [itemsSource]="cboLeadObservable" [isEditable]="false" [isRequired]="true"
                    [displayMemberPath]="'LDNumber'" [selectedValuePath]="'Id'" style="width: 100%; padding: 3px;">
                  </wj-combo-box>
                </div>
                <br /><br />
                <label for="" class="col-sm-4 col-form-label form-group-label">Contact Person</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [disabled]="isLocked"
                    [(ngModel)]="salesDeliveryDetailModel.ContactPerson" placeholder="Contact Person...">
                </div>
                <br /><br />
                <label for="" class="col-sm-4 col-form-label form-group-label">Contact Position</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [disabled]="isLocked"
                    [(ngModel)]="salesDeliveryDetailModel.ContactPosition" placeholder="Contact Position...">
                </div>
                <br /><br />

              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group row">
                <label for="" class="col-sm-4 col-form-label form-group-label">Contact Email</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [disabled]="isLocked"
                    [(ngModel)]="salesDeliveryDetailModel.ContactEmail" placeholder="Contact Email...">
                </div>
                <br /><br />
                <label for="" class="col-sm-4 col-form-label form-group-label">Contact Phone No.</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [disabled]="isLocked"
                    [(ngModel)]="salesDeliveryDetailModel.ContactPhoneNumber" placeholder="Contact Phone Number...">
                </div>
                <br /><br />
                <label for="" class="col-sm-4 col-form-label form-group-label">Particulars</label>
                <div class="col-sm-8">
                  <textarea type="text" class="form-control" style="resize: none" [disabled]="isLocked"
                    [(ngModel)]="salesDeliveryDetailModel.Particulars" placeholder="Remarks..." rows="5">
                  </textarea>
                </div>
                <br /><br /><br /><br /><br /><br />
                <label for="" class="col-sm-4 col-form-label form-group-label">Assigned To</label>
                <div class="col-sm-8">
                  <wj-combo-box #cboAssignedToUser [(ngModel)]="salesDeliveryDetailModel.AssignedToUserId"
                    [itemsSource]="cboAssignedToUserObservable" [isEditable]="false" [isRequired]="true"
                    [displayMemberPath]="'FullName'" [selectedValuePath]="'Id'" style="width: 100%; padding: 3px;">
                  </wj-combo-box>
                </div>
                <br /><br />
                <label for="" class="col-sm-4 col-form-label form-group-label">Status</label>
                <div class="col-sm-8">
                  <wj-combo-box #cboSalesStatus [disabled]="isLocked" [(ngModel)]="salesDeliveryDetailModel.Status"
                    [itemsSource]="cboSalesStatusObservable" [isEditable]="false" [isRequired]="true"
                    [displayMemberPath]="'Status'" [selectedValuePath]="'Status'" style="width: 100%; padding: 3px;">
                  </wj-combo-box>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-default" style="margin-top: 10px;">
        <div class="card-header">
          User stamp
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p>Created by:</p>
              <div style="padding-left: 10px;">
                <i class="fa fa-key"></i>&nbsp;
                <label id="createdBy">
                  {{
                  leadDetailModel != null ?
                  leadDetailModel.CreatedByUser : 'NA'
                  }}
                </label>
                <br />
                <small>
                  <i class="fa fa-calendar"></i>&nbsp;&nbsp;
                  <span id="createdDate">
                    {{
                    leadDetailModel != null ?
                    leadDetailModel.CreatedDateTime : 'mm/dd/yyyy'
                    }}
                  </span>
                </small>
              </div>
              <br />
            </div>
            <div class="col-md-6">
              <p>Updated by:</p>
              <div style="padding-left: 10px;">
                <i class="fa fa-key"></i>&nbsp;
                <label id="updatedBy">
                  {{
                  leadDetailModel != null ?
                  leadDetailModel.UpdatedByUser : 'NA'
                  }}
                </label>
                <br />
                <small>
                  <i class="fa fa-calendar"></i>&nbsp;&nbsp;
                  <span id="updatedDate">
                    {{
                    leadDetailModel != null ?
                    leadDetailModel.UpdatedDateTime : 'mm/dd/yyyy'
                    }}
                  </span>
                </small>
              </div>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="activities" role="tabpanel" aria-labelledby="activities-tab"
      [hidden]="isActivityTabHidden">
      <div class="card card-default">

        <!-- <div class="card-header">
          <table border="0" style="width: 100%; border: none;">
            <tr>
              <td>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <b>
                        <i class="fa fa-table"></i>
                      </b>
                    </div>
                  </div>
                  <wj-combo-box #cboNumberOfRows [itemsSource]="cboShowNumberOfRows" [isEditable]="false"
                    [isRequired]="true" [displayMemberPath]="'rowString'" [selectedValuePath]="'rowNumber'"
                    (selectedIndexChanged)="cboShowNumberOfRowsOnSelectedIndexChanged(cboNumberOfRows.selectedValue)"
                    style="width: 140px;">
                  </wj-combo-box>
                </div>
              </td>
              <td style="text-align: right;">
                <button class="btn btn-primary" (click)="btnAddActivityClick(activityModalTemplate)"
                  style="margin-right: 5px;" id="btnAddActivity">
                  <i class="fa fa-plus fa-fw"></i> Add
                </button>
                <button class="btn btn-danger" routerLink="/software/trn/lead" id="btnCloseActivity">
                  <i class="fa fa-close fa-fw"></i> Close
                </button>
              </td>
            </tr>
          </table>
        </div> -->

        <!-- <div class="card-body">
          <mat-progress-bar [hidden]="isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'">
          </mat-progress-bar>
          <wj-flex-grid #listActivityFlexGrid [itemsSource]="listActivityCollectionView" [selectionMode]="3"
            [frozenColumns]="2">
            <wj-flex-grid-filter></wj-flex-grid-filter>
            <wj-flex-grid-column [header]="Edit" [isReadOnly]="true" [width]="80">
              <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                <button type="button" class="btn btn-primary btn-block btn-xs"
                  (click)="btnEditActivityClick(activityModalTemplate)" id="btnEditActivity">
                  <i class="fa fa-edit fa-fw"></i> Edit
                </button>
              </ng-template>
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="Delete" [isReadOnly]="true" [width]="90">
              <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                <button type="button" class="btn btn-danger btn-block btn-xs"
                  (click)="btnDeleteActivityClick(activityDeleteModalTemplate)" id="btnDeleteActivity">
                  <i class="fa fa-trash fa-fw"></i> Delete
                </button>
              </ng-template>
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'No.'" [binding]="'ACNumber'" [isReadOnly]="true" [width]="110">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Date'" [binding]="'ACDate'" [isReadOnly]="true" [width]="110">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'User'" [binding]="'User'" [isReadOnly]="true" [width]="'2*'">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'CRM Status'" [binding]="'CRMStatus'" [isReadOnly]="true" [width]="'2*'">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Activity'" [binding]="'Activity'" [isReadOnly]="true" [width]="'3*'">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Status'" [binding]="'Status'" [isReadOnly]="true" [width]="'2*'">
            </wj-flex-grid-column>
          </wj-flex-grid>
        </div> -->

        <!-- <div class="card-footer">
          <div class="col-sm-12 btn-group" style="padding: 5px 0px 5px 0px;">
            <button type="button" class="btn btn-secondary" (click)="listActivityCollectionView.moveToFirstPage()">
              <i class="fa fa-fast-backward"></i>
            </button>
            <button type="button" class="btn btn-secondary" (click)="listActivityCollectionView.moveToPreviousPage()">
              <i class="fa fa-step-backward"></i>
            </button>
            <button type="button" class="btn btn-secondary" disabled style="width:100px">
              {{ listActivityCollectionView.pageIndex + 1 }} / {{ listActivityCollectionView.pageCount }}
            </button>
            <button type="button" class="btn btn-secondary" (click)="listActivityCollectionView.moveToNextPage()">
              <i class="fa fa-step-forward"></i>
            </button>
            <button type="button" class="btn btn-secondary" (click)="listActivityCollectionView.moveToLastPage()">
              <i class="fa fa-fast-forward"></i>
            </button>
          </div>
        </div> -->
      </div>
    </div>
  </div>

</div>