<div class="card card-default">

  <div class="card-header">
    <table border="0" style="width: 100%; border: none;">
      <tr>
        <td>
        </td>
        <td style="text-align: right;">
          <button class="btn btn-primary" (click)="btnSaveProductClick()" style="margin-right: 5px;"
            [disabled]="!crmAdmin" id="btnSaveProduct">
            <i class="fa fa-save fa-fw"></i> Save
          </button>
          <button class="btn btn-danger" routerLink="/software/setup/product" id="btnCloseActivity">
            <i class="fa fa-close fa-fw"></i> Close
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="card-body">
    <div class="card card-default">
      <div class="card-body" style="padding-bottom: 1px;">
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group row">
              <label for="" class="col-sm-3 col-form-label form-group-label">Product Code</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="product.ProductCode" placeholder="Product Code..."
                  [disabled]="!crmAdmin">
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="form-group row">
              <label for="" class="col-sm-3 col-form-label form-group-label">Product Discription</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="product.ProductDescription" [disabled]="!crmAdmin"
                  placeholder="Product Description...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tabs" #tabs>
      <ul class="nav nav-tabs nav-pills" id="myTab" role="tablist" style="margin-top: 10px; margin-bottom: 10px;">
        <li class="nav-item">
          <a class="nav-link active" id="softwareDevelopmentList-tab" data-toggle="tab" href="#softwareDevelopmentList"
            [ngClass]="{ 'active':activeTab==='softwareDevelopmentList'}" role="tab"
            aria-controls="softwareDevelopmentList" aria-selected="true"
            (click)="btnSoftwareDevelopmentListClick('softwareDevelopmentList')">Software Development List</a>
        </li>
        <li class="nav-item" [hidden]="isSoftwareDevelopmentTabHidden">
          <a class="nav-link" id="softwareDevelopmentDetail-tab" data-toggle="tab" href="#softwareDevelopmentDetail"
            role="tab" aria-controls="softwareDevelopmentDetail" aria-selected="false"
            [ngClass]="{ 'active':activeTab === 'softwareDevelopmentDetail'}"
            (click)="btnSoftwareDevelopmentDetailClick('softwareDevelopmentDetail')">Software Development Detail</a>
        </li>
      </ul>
      <div class="progress" style="height: 2px;" [hidden]="addEditPogressBarHidden">
        <div class="progress-bar" role="progressbar" [style.width]="progressPercentage" aria-valuenow="25"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="softwareDevelopmentList" role="tabpanel" style="width: 100%;"
          [ngClass]="{ 'active':activeTab==='softwareDevelopmentList'}" aria-labelledby="softwareDevelopmentList-tab">
          <div class="card card-default">

            <div class="card-body">
              <table border="0" style="width: 100%; border: none; margin-bottom: 7px;">
                <tr>
                  <td>
                  </td>
                  <td style="text-align: right;">
                    <button class="btn btn-primary" (click)="btnAddSoftwareDevelopemtClick()"
                      id="btnAddSoftwareDevelopment">
                      <i class="fa fa-plus fa-fw"></i> Add
                    </button>
                  </td>
                </tr>
              </table>
              <mat-progress-bar [hidden]="isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'">
              </mat-progress-bar>
              <wj-flex-grid #listSoftwareDevelopmentFlexGrid [itemsSource]="listSoftwareDevelopmentCollectionView"
                [selectionMode]="3" [frozenColumns]="2">
                <wj-flex-grid-filter></wj-flex-grid-filter>
                <wj-flex-grid-column [header]="Edit" [isReadOnly]="true" [width]="80">
                  <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                    <button type="button" class="btn btn-primary btn-block btn-xs"
                      (click)="btnEditSoftwareDevelopmentDetailClick()" id="btnEditUser">
                      <i class="fa fa-edit fa-fw"></i> Edit
                    </button>
                  </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="Delete" [isReadOnly]="true" [width]="90">
                  <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                    <button type="button" class="btn btn-danger btn-block btn-xs"
                      (click)="btnDeleteSoftwareDevelopmentClick(softwareDevelopmentDeleteModalTemplate)"
                      id="btnDeleteSoftwareDevelopment">
                      <i class="fa fa-trash fa-fw"></i> Delete
                    </button>
                  </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'SDNumber'" [binding]="'SDNumber'" [isReadOnly]="true" [width]="'2*'">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'SDDate'" [binding]="'SDDate'" [isReadOnly]="true" [width]="'2*'">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Product'" [binding]="'ProductDescription'"
                  [isReadOnly]="true" [width]="'2*'">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Issue Type'" [binding]="'IssueType'" [isReadOnly]="true" [width]="'2*'">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Issue'" [binding]="'Issue'" [isReadOnly]="true" [width]="'2*'">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Remarks'" [binding]="'Remarks'" [isReadOnly]="true" [width]="'2*'">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Assigned User'" [binding]="'AssignedToUserFullname'"
                  [isReadOnly]="true" [width]="'2*'">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Target Date'" [binding]="'TargetDateTime'" [isReadOnly]="true"
                  [width]="'2*'">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Close Date'" [binding]="'CloseDateTime'" [isReadOnly]="true"
                  [width]="'2*'">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Status'" [binding]="'Status'" [isReadOnly]="true" [width]="'2*'">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'L'" [binding]="'IsLocked'" [isReadOnly]="true" [width]="30">
                </wj-flex-grid-column>
              </wj-flex-grid>
            </div>
            <div class="card-footer">
              <div class="col-sm-4 btn-group" style="padding: 5px 0px 5px 0px;">
                <button type="button" class="btn btn-secondary"
                  (click)="listSoftwareDevelopmentCollectionView.moveToFirstPage()">
                  <i class="fa fa-fast-backward"></i>
                </button>
                <button type="button" class="btn btn-secondary"
                  (click)="listSoftwareDevelopmentCollectionView.moveToPreviousPage()">
                  <i class="fa fa-step-backward"></i>
                </button>
                <button type="button" class="btn btn-secondary" disabled style="width:100px">
                  {{ listSoftwareDevelopmentCollectionView.pageIndex + 1 }} /
                  {{ listSoftwareDevelopmentCollectionView.pageCount }}
                </button>
                <button type="button" class="btn btn-secondary"
                  (click)="listSoftwareDevelopmentCollectionView.moveToNextPage()">
                  <i class="fa fa-step-forward"></i>
                </button>
                <button type="button" class="btn btn-secondary"
                  (click)="listSoftwareDevelopmentCollectionView.moveToLastPage()">
                  <i class="fa fa-fast-forward"></i>
                </button>
              </div>
              <div class="col-sm-8"></div>
            </div>
          </div>
        </div>
        <div [style.display]="isSoftwareDevelopmentPanelDisplay" [hidden]="isSoftwareDevelopmentTabHidden"
          style="width: 100%;" class="tab-pane fade" id="softwareDevelopmentDetail" role="tabpanel"
          [ngClass]="{ 'active':activeTab === 'softwareDevelopmentDetail'}"
          aria-labelledby="softwareDevelopmentDetail-tab">
          <div class="card card-default">
            <div class="card-header">
              <table border="0" style="width: 100%; border: none; ">
                <tr>
                  <td>
                  </td>
                  <td style="text-align: right;">
                    <button hidden class="btn btn-primary" style="margin-right: 5px;"
                      id="btnSaveSoftwareDevelopmentDetail" (click)="btnSaveSoftwareDevelopmentDetailClick()">
                      <i class="fa fa-save fa-fw"></i> Save
                    </button>
                    <button class="btn btn-primary" style="margin-right: 5px;" id="btnLockSoftwareDevelopmentDetail"
                      (click)="btnLockSoftwareDevelopmentDetailClick()">
                      <i class="fa fa-lock fa-fw"></i> Lock
                    </button>
                    <button class="btn btn-primary" style="margin-right: 5px;" id="btnUnlockSoftwareDevelopmentDetail"
                      (click)="btnUnlockSoftwareDevelopmentDetailClick()">
                      <i class="fa fa-unlock fa-fw"></i> Unlock
                    </button>
                    <button class="btn btn-danger" style="margin-right: 5px;" id="btnCloseSoftwareDevelopmentDetail"
                      (click)="btnCloseSoftwareDevelopmentDetailClick()">
                      <i class="fa fa-close fa-fw"></i> Close
                    </button>
                  </td>
                </tr>
              </table>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group row">
                    <label for="" class="col-sm-3 col-form-label form-group-label">SD Number</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" disabled [(ngModel)]="softwareDevelopentModel.SDNumber"
                        placeholder="SDNumber...">
                    </div>
                    <br><br>
                    <label for="" class="col-sm-3 col-form-label form-group-label">SD Date</label>
                    <div class="col-sm-9">
                      <wj-input-date #cboSDDate format="MMMM dd, yyyy" disabled
                        [(ngModel)]="softwareDevelopentModel.SDDate" style="width: 60%; padding: 3px;">
                      </wj-input-date>
                    </div>
                    <br><br>
                    <label for="" class="col-sm-3 col-form-label form-group-label">Product</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" disabled
                        [(ngModel)]="softwareDevelopentModel.ProductDescription" placeholder="Product...">
                    </div>
                    <br><br>
                    <label for="" class="col-sm-3 col-form-label form-group-label">Issue Type</label>
                    <div class="col-sm-9">
                      <wj-combo-box #cboIssueType [disabled]="isLocked" [(ngModel)]="softwareDevelopentModel.IssueType"
                        [itemsSource]="cboIssueTypeObservableArray" [isEditable]="false" [isRequired]="true"
                        [displayMemberPath]="'IssueType'" [selectedValuePath]="'IssueType'"
                        style="width: 100%; padding: 3px;">
                      </wj-combo-box>
                    </div>
                    <br><br>
                    <label for="" class="col-sm-3 col-form-label form-group-label">Issue</label>
                    <div class="col-sm-9">
                      <textarea type="text" class="form-control" [disabled]="isLocked"
                        [(ngModel)]="softwareDevelopentModel.Issue" placeholder="Issue..." rows="8"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group row">
                    <label for="" class="col-sm-3 col-form-label form-group-label">Remarks</label>
                    <div class="col-sm-9">
                      <textarea type="text" class="form-control" [disabled]="isLocked"
                        [(ngModel)]="softwareDevelopentModel.Remarks" placeholder="Remarks..." rows="5"></textarea>
                    </div>
                    <br><br><br><br><br><br>
                    <label for="" class="col-sm-3 col-form-label form-group-label">Assign To</label>
                    <div class="col-sm-9">
                      <wj-combo-box #cboAssignedUser [disabled]="isLocked"
                        [(ngModel)]="softwareDevelopentModel.AssignedToUserId"
                        [itemsSource]="cboAssignedUserObservableArray" [isEditable]="false" [isRequired]="true"
                        [displayMemberPath]="'FullName'" [selectedValuePath]="'Id'" style="width: 100%; padding: 3px;">
                      </wj-combo-box>
                    </div>
                    <br><br>
                    <label for="" class="col-sm-3 col-form-label form-group-label">TargetDate</label>
                    <div class="col-sm-9">
                      <wj-input-date #cboTargetDate format="MMMM dd, yyyy" [disabled]="isLocked"
                        [(ngModel)]="softwareDevelopentModel.TargetDateTime" style="width: 60%; padding: 3px;">
                      </wj-input-date>
                      <!-- <input type="text" class="form-control" [disabled]="isLocked"
                        [(ngModel)]="softwareDevelopentModel.TargetDateTime" placeholder="TargetDateTime..."> -->
                    </div>
                    <br><br>
                    <label for="" class="col-sm-3 col-form-label form-group-label">CloseDate</label>
                    <div class="col-sm-9">
                      <wj-input-date #cboCloseDate format="MMMM dd, yyyy" [disabled]="isLocked"
                        [(ngModel)]="softwareDevelopentModel.CloseDateTime" style="width: 60%; padding: 3px;">
                      </wj-input-date>
                      <!-- <input type="text" class="form-control" [disabled]="isLocked"
                        [(ngModel)]="softwareDevelopentModel.CloseDateTime" placeholder="SDDate..."> -->
                    </div>
                    <br><br>
                    <label for="" class="col-sm-3 col-form-label form-group-label">Status</label>
                    <div class="col-sm-9">
                      <wj-combo-box #cboStatus [disabled]="isLocked" [(ngModel)]="softwareDevelopentModel.Status"
                        [itemsSource]="cboStatusObservableArray" [isEditable]="false" [isRequired]="true"
                        [displayMemberPath]="'Status'" [selectedValuePath]="'Status'"
                        style="width: 100%; padding: 3px;">
                      </wj-combo-box>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="card card-default" style="margin-top: 3px; margin-bottom: -10px;">
  <div class="card-header">
    User stamp
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            Created by:
          </div>
          <div class="col-md-5">
            <div style="padding-left: 10px;">
              <i class="fa fa-key"></i>&nbsp;
              <label id="createdBy">
                {{
                listSoftwareDevelopmentCollectionView.items.length > 0 ?
                listSoftwareDevelopmentCollectionView.currentItem.CreatedByUserFullname : 'NA'
                }}
              </label>
            </div>
          </div>
          <div class="col-md-5">
            <small>
              <i class="fa fa-calendar"></i>&nbsp;&nbsp;
              <span id="createdDate">
                {{
                listSoftwareDevelopmentCollectionView.items.length > 0 ?
                listSoftwareDevelopmentCollectionView.currentItem.CreatedDateTime : 'mm/dd/yyyy'
                }}
              </span>
            </small>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            Updated by:
          </div>
          <div class="col-md-5">
            <div style="padding-left: 10px;">
              <i class="fa fa-key"></i>&nbsp;
              <label id="updatedBy">
                {{
                listSoftwareDevelopmentCollectionView.items.length > 0 ?
                listSoftwareDevelopmentCollectionView.currentItem.UpdatedByUserFullname : 'NA'
                }}
              </label>
            </div>
          </div>
          <div class="col-md-5">
            <small>
              <i class="fa fa-calendar"></i>&nbsp;&nbsp;
              <span id="updatedDate">
                {{
                listSoftwareDevelopmentCollectionView.items.length > 0 ?
                listSoftwareDevelopmentCollectionView.currentItem.UpdatedDateTime : 'mm/dd/yyyy'
                }}
              </span>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="card card-default" style="margin-top: 10px;">
  <div class="card-header">
    User stamp
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <p>Created by:</p>
        <div style="padding-left: 10px;">
          <i class="fa fa-key"></i>&nbsp;
          <label id="createdBy">
            {{
            listSoftwareDevelopmentCollectionView.items.length > 0 ?
            listSoftwareDevelopmentCollectionView.currentItem.CreatedByUserFullname : 'NA'
            }}
          </label>
          <br />
          <small>
            <i class="fa fa-calendar"></i>&nbsp;&nbsp;
            <span id="createdDate">
              {{
              listSoftwareDevelopmentCollectionView.items.length > 0 ?
              listSoftwareDevelopmentCollectionView.currentItem.CreatedDateTime : 'mm/dd/yyyy'
              }}
            </span>
          </small>
        </div>
        <br />
      </div>
      <div class="col-md-6">
        <p>Updated by:</p>
        <div style="padding-left: 10px;">
          <i class="fa fa-key"></i>&nbsp;
          <label id="updatedBy">
            {{
            listSoftwareDevelopmentCollectionView.items.length > 0 ?
            listSoftwareDevelopmentCollectionView.currentItem.UpdatedByUserFullname : 'NA'
            }}
          </label>
          <br />
          <small>
            <i class="fa fa-calendar"></i>&nbsp;&nbsp;
            <span id="updatedDate">
              {{
              listSoftwareDevelopmentCollectionView.items.length > 0 ?
              listSoftwareDevelopmentCollectionView.currentItem.UpdatedDateTime : 'mm/dd/yyyy'
              }}
            </span>
          </small>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>

<ng-template #softwareDevelopmentDeleteModalTemplate>
  <div class="modal-header" style="background-color: white;">
    <h4 class="modal-title" style="color: black;">
      Delete
    </h4>
  </div>
  <div class="modal-body">
    Delete software Development {{
      listSoftwareDevelopmentCollectionView.items.length > 0 ?
      listSoftwareDevelopmentCollectionView.currentItem.SDNumber : 'NA'
    }}?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" style="margin-right: 5px;" (click)="btnConfirmDeleteDeleteFormClick()"
      id="btnConfirmDeleteSoftwareDevelopment">
      <i class="fa fa-trash"></i> Delete
    </button>
    <button type="button" class="btn btn-light" (click)="softwareDevelopmentDeleteModalRef.hide()"
      id="btnCloseConfirmDeleteProductModal">
      <i class="fa fa-close"></i> Cancel
    </button>
  </div>
</ng-template>