<!-- <h1 mat-dialog-title>
  Case Summary Report
</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <pdf-viewer [src]="pdfUrl" [render-text]="true" style="display: block;"></pdf-viewer>
  <iframe id="printPDF" name="printPDF" style="width: 0; height: 0; border: 0; border: none;"></iframe>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions align="right">
  <button mat-flat-button color="primary" style="margin-right: 5px;" (click)="btnPrintLead()">
      <fa-icon icon="print" fixedWidth="true"></fa-icon> Print
  </button>
  <button mat-flat-button color="warn" (click)="btnClosePrintDialog()" id="btnClosePrintDialog">
      <fa-icon icon="times" fixedWidth="true"></fa-icon> Close
  </button>
</div> -->