/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-size: 14px;
}
.input-group-text {
    font-size: 13px;
}

.btn-xs {
    padding: 0.1rem 0.1rem !important;
    font-size: 0.750rem !important; 
    border-radius: 0.2rem !important;
}

@media (min-width: 768px) {
    .form-group-label {
        text-align: right;
    }
}

.wj-control[disabled] {
    opacity: 10;
    background-color: #e9ecef;
    cursor: not-allowed;
}

.wj-control[disabled] .wj-form-control {
    pointer-events: none;
    cursor: not-allowed;
}

.wj-control[disabled] .wj-btn {
    pointer-events: none;
    cursor: not-allowed;
}

input[disabled] {
    cursor: not-allowed;
}

.modal-header {
    background-color: #115a9e;
    color: white;
}

.nav-tabs {
    background-color: #f2f2f2;
    border-bottom: 3px solid #115a9e;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #115a9e;
    border-color: #115a9e #115a9e #115a9e;
}

.nav-tabs .nav-link:hover {
    border: 1px solid transparent;
}

#toast-container > div {
	opacity:1;
}
.toast {
	font-size: initial !important;
	border: initial !important;
	backdrop-filter: blur(0) !important;
}
.toast-success {
	background-color: #51A351 !important;
}
.toast-error{
	background-color: #BD362f !important;
}.toast-info {
	background-color: #2F96B4 !important;
}.toast-warning{
	background-color: #F89406 !important;
}